<!DOCTYPE html>
<html lang="{{ lang[:2] }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="assets/js/style.css" rel="stylesheet"/>
    <link rel="icon" type="image/ico" href="assets/favicon.ico"/>
    <title>{{ title }}</title>
</head>
<body>
<div id="root">loading</div>
<script src="assets/js/application.js" type="text/javascript"></script>
</body>
</html>
