@import '../../core/styles/colors';
@import './forms';

authentication {
    vertical-align: middle;
    flex: 1 1 400px;
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
    &.landscape {
        flex-flow: wrap;
    }
    &.portrait {
        flex-flow: column;
    }
}
account,
registration {
    flex: 0 1 100%;
    display: flex;
    flex-flow: wrap;
    align-items: flex-start;
    justify-content: flex-end;
}
