@import "colors";

@keyframes loader-bar {
    0%, 100% {
        width: 0;
    }
    50% {
        width: 100%;
    }
}

@keyframes loader-points {
    0%, 100% {
        background-color: transparent;

    }
    25% {
        background-color: $info;
    }
    50% {
        background-color: $dark;
    }
    75% {
        background-color: $warn;
    }
}
