@import "animations";
@import "buttons";
@import "colors";
@import "fonts";
@import "inputs";
@import "loading-indicators";
@import "modal";

application {
    @include font-primary;
    display: flex;
    flex-flow: column;
    background: $primary;
    color: $dark;
    padding: 2px 4px;
    transition: all 0.3s;
    header, footer {
        flex: 0 0  100%;
        display: flex;
        flex-flow: wrap;
        align-items: center;
        justify-content: space-between;
        &.xxl, &.xl {
            flex-flow: nowrap;
        }
    }
    h1 {
        @include font-special-bold;
        font-size: 30px;
        line-height: 45px;
    }
    h2 {
        @include font-special-bold;
    }
    h3, h4 {
        @include font-special;
    }
    .blur {
        filter: blur(3px) grayscale(80%);
    }
}
.error {
    @include font-primary;
    background-color: $warn;
    color: $dark;
    padding: 16px;
}
.close {
    float: right;
}
.landscape {
    flex-flow: nowrap;
}
.portrait {
    flex-flow: column;
    justify-content: flex-start;
}
